body{
    font-family: 'Times New Roman', Times, serif;
    color: #dbdbdb;
    background-image: url('images/Background.jpeg');
    background-size: cover;
    background-attachment: fixed;
  
    } 
header{
    background-color: rgb(20, 48, 103);
    text-align: center;
        padding: 20px;
}
header h1{
    color: #dbdbdb;
    font-size: 36px;
    margin: 0;
}
nav{
    background-color: rgb(17, 88, 232);
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav a{
    color: #dbdbdb;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
nav a:hover{
    color: #dbdbdb;
    text-decoration: underline;
}
main{
    padding: 20px;
}
main h2{
    color: #dbdbdb;
    font-size: 28px;
    margin-bottom: 10px;
}
main p{
    color: #dbdbdb;
    font-size: 18px;
    line-height: 1.6;
}
footer{
    background-color: rgb(5, 6, 9);
    text-align: center;
    padding: 10px;
    color: #dbdbdb;
    font-size: 14px;
}
footer p{
    margin: 0;
}
